.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}
