/* src/pages/About.css */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top:40px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
}

.about-container h1 {
  text-align: center;
  color: #333;
}

.about-container p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
}
