@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Reset to ensure the body takes up full screen */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  background-color: #121212;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #f1f1f1;
  height: 100vh;
}
