.userForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 20px;
}

.AuthFormInput , .AuthTitle {
  padding: 10px 15px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  text-align: center;
  color: #FAF9F6;
 }

 .AuthFormInput {
  display: flex; 
  align-items: center; 
  margin: 0 15px;
}

.AuthFormInput input {
  width: 100%;
  padding: 8px 0; 
  border: none; 
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  outline: none; 
  background-color: transparent;
  color: white; 
}

.AuthFormInput input:focus{
  border-bottom: 2px solid white;
}


.AuthIcon {
  padding: 15px;
}

.ButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubmitButton {
  padding: 5px 15px;
  margin: 5px 10px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  text-align: center;
  background-color: #3c3c3c;
  color: white;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.SubmitButton:Hover {
  background-color: #1e1e1e;
  transform: scale(1.05);
}

.userForm {
  background-color: rgba(77, 77, 77, 0.8);
  width: 100%;
  height: 50vh;
}

.AuthInfo {
  padding: 10px 20px;
  margin: 15px 10px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
}

.AuthInfo:hover::after {
  content: ''; 
  position: absolute; 
  bottom: 5px; 
  left: 0; 
  width: 100%; 
  height: 1px; 
  background-color: #ffffff; 
}
