nav {
  background-color: #333;
  padding: 10px 20px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  color: rgb(39, 3, 3);
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

img.FavoriteIcon:hover {
  cursor: pointer;
}

img.UnfavoriteIcon:hover {
  cursor: pointer;
}